*{
  margin:0px;
  padding:0px;
}

body{
  background-color:grey;
}
div{
position:relative;
width:200px;
height:200px;
border-radius:50%;
background: linear-gradient(to bottom, #ffffff 0%,#ffffff 50%,#000000 50%,#000000 100%);
margin:100px auto 30px auto;
animation-name:rotate;
animation-duration: 5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

div::before{
  content:"";
  display:block;
  width:20px;
  height:20px;
  left:0px;
  top:50px;
  position:absolute;
  border-radius:50%;
  border:40px black solid;
  background-color:white;
  }
div::after{
   content:"";
   display:block;
   width:20px;
   height:20px;
   right:0px;
   bottom:48px;
   position:absolute;
   border-radius:50%;
   border:40px white solid;
   background-color:black;
}
p{ 
 text-align:center; 
}
@keyframes rotate{
 0%{-webkit-transform:rotate(0deg)}
 100%{-webkit-transform:rotate(360deg)} } 
}